/* new Font- style. source-sans-3-regular - latin. Tõmmata file google-webfonts-helper.(regular,700)*/
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-sans-3-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/source-sans-3-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*Fonts sizes - fs*/
:root {
  --fs-10: calc(10 / 16 * 1rem);
  --fs-12: calc(12 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-26: calc(26 / 16 * 1rem);
  --fs-42: calc(42 / 16 * 1rem);
  --fs-48: calc(48 / 16 * 1rem);
  --fs-72: calc(72 / 16 * 1rem);

  /*Mobiilis elementide teksti suurused siin määratud*/
  --font-size-topnav: var(--fs-10);
  --font-size-btn: var(--fs-16);
  --font-size-btn-small: var(--fs-12);
  --font-size-small: var(--fs-12);
  --font-size-h1: var(--fs-42);
  --font-size-h2: var(--fs-26);
  --font-size-h3: var(--fs-20);

  /*suuremal seadmel- arvuti, tablet, mille laius ületab 600px,teksti suurus teine-suurem*/
  @media (width >= calc(600/16*1rem)) {
    --font-size-topnav: var(--fs-18);
    --font-size-small: var(--fs-18);
    --font-size-btn-small: var(--fs-20);
    --font-size-btn: var(--fs-24);
    --font-size-h1: var(--fs-72);
    --font-size-h2: var(--fs-48);
  }
}
/*Style layout rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
} /*piirid ei ületaks laiust pikkust*/
* {
  margin: 0;
} /* css reset type rule*/

/*Selectors Global styles*/
body {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  line-height: 1.3;
  background-color: rgb(130, 70, 60);
}

h1,
h2,
h3 {
  line-height: 1.1; /* rea kõrgus-110% font size*/
}

h1 {
  /* font-size: var(--font-size-h1); */
  text-align: center;
}
h2 {
  color: beige;
  font-size: var(--font-size-h2);
  text-align: center;
}
h3 {
  /* font-size: var(--font-size-h3); */
  text-align: center;
}
p,
strong {
  font-size: var(--font-size-small);
}
a {
  text-decoration: none;
} /*(anchor tag-is)eemaldab linkidelt default underline*/
img,
picture,
svg {
  max-width: 100%; /*välistab full size image horizontal scrollimist, need ei lähe suuremaks kui parent*/
  height: auto;
  display: block; /*parem paigutus*/
}

.wrapper {
  width: min(
    calc(100% - 39px),
    calc(1400 / 16 * 1rem)
  ); /*venitamisel 327px Mobile width ja 1200px-maximum PC width*/
  margin-inline: auto; /*tsentreerib, nii et mõlemalt poolt ühesugune kaugus max laiuseni */
}
.topnav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  @media (width >= calc(600/16*1rem)) {
    padding-block: 50px;
  }
  border: 2px solid darkgoldenrod;
  /* .topnav__wrapper:hover img {
    -webkit-filter: brightness(70%);
    transform: scale(1.1);
  } */
  background-color: rgb(120, 70, 60);
}
.topnav__logos {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.topnav__logo {
  width: calc(10 / 16 * 1rem);
  @media (width >= calc(600/16*1rem)) {
    width: calc(30 / 16 * 1rem);
  }
}
.topnav__logo2 {
  width: calc(40 / 16 * 1rem);
  @media (width >= calc(600/16*1rem)) {
    width: calc(125 / 16 * 1rem);
  }
}
.topnav__links {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;

  @media (width >= calc(600/16*1rem)) {
    gap: 30px;
  }
}
.topnav__link {
  font-size: var(--font-size-topnav);
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--c-white);
  &:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
  }
}
.mainImg {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: end;
  position: relative;
  border-style: outset;
  border-radius: 5cap;
  border-color: bisque;
  background: linear-gradient(315deg, #7e6111, #cc7b11);
  color: lightblue;
}
.mainImg img {
  border-radius: 5cap;
  vertical-align: middle;
}
.mainImg__text {
  position: absolute;
}
.meielood {
  display: flex;
  gap: 8px;
  color: lightblue;
  font-style: italic;
  border-bottom: 3px solid rgb(200, 140, 75);
  margin-bottom: 20px;
}
.lugu {
  padding: 1rem;
  p {
    margin-block-end: 0;
  }
}
.literature {
  display: flex;
  color: lightblue;
  font-style: italic;
  border-bottom: 3px solid rgb(200, 140, 75);
  margin-bottom: 20px;
  gap: 10px;
  @media (width >= calc(600/16*1rem)) {
    gap: 25px;
  }
}
.intro {
  width: 49%;
  padding-top: 10px;
  border: 1px solid rgb(200, 140, 75);
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.intro a {
  background-color: aliceblue;
  opacity: 50%;
  padding: 5px;
  border: 2px groove lightgray;
  font-size: var(--font-size-btn);
  &:hover {
    opacity: 100%;
  }
}
.historyImg {
  width: 20%;
}
.galery {
  display: flex;
  justify-content: space-around;
  position: relative;
  color: beige;
  border: 2px outset bisque;
  border-radius: 5cap;
  background: linear-gradient(315deg, #7e6111, #cc7b11);
  margin-bottom: 20px;
  gap: 5px;
  @media (width >= calc(600/16*1rem)) {
    gap: 25px;
  }
}
.galery__head {
  position: absolute;
  border-bottom: 3px solid beige;
}
.galery__images {
  position: relative;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}
.galery__images img {
  margin-top: 14px;
  border-radius: 5cap;
}
.galery__images strong {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.galery__images a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  opacity: 70%;
  padding: 20px;
  border: 2px groove lightgray;
  border-radius: 10px;
  font-size: var(--font-size-btn);
  &:hover {
    opacity: 100%;
  }
}
.events {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.events__head {
  position: absolute;
  border: 2px outset bisque;
  border-radius: 5cap;
  background: linear-gradient(315deg, #7e6111, #cc7b11);
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.events__content {
  color: beige;
  display: flex;
  margin-top: 130px;
  gap: 5px;
  @media (width >= calc(600/16*1rem)) {
    gap: 15px;
  }
}
.event {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  text-align: center;
  background: linear-gradient(315deg, #7e6111, #cc7b11);
  border-radius: 5px;
  padding: 15px;
  gap: 5px;
  @media (width >= calc(600/16*1rem)) {
    gap: 20px;
  }
}
.event a {
  background-color: aliceblue;
  opacity: 70%;
  padding: 7px;
  width: 50%;
  border: 2px groove lightgray;
  border-radius: 10px;
  font-size: var(--font-size-btn-small);
  &:hover {
    opacity: 100%;
  }
}
.f_container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 20px;
  @media (width >= calc(600/16*1rem)) {
    padding-block: 50px;
  }
  border: 2px solid darkgoldenrod;
  background-color: rgb(120, 70, 60);
}
.f_container img {
  width: calc(10 / 16 * 1rem);
  @media (width >= calc(600/16*1rem)) {
    width: calc(30 / 16 * 1rem);
  }
  border-radius: 10px;
  border: 1px solid darkgoldenrod;
}
.f__nav a {
  color: white;
  background-color: transparent;
  &:hover {
    background-color: #7e6111;
  }
}
